<!DOCTYPE html>
<!--[if lt IE 7]>     <html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>        <html class="no-js lt-ie9 lt-ie8">       <![endif]-->
<!--[if IE 8]>        <html class="no-js lt-ie9">              <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js">                     <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Minesweeper</title>
<meta name="description" content="A Javascript minesweeper game.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="stylesheet" href="css/ms.css" type="text/css">
<link rel="stylesheet"
      href="lib/font-awesome/css/font-awesome.min.css"
      type="text/css">
<link rel="stylesheet"
      href="lib/bootstrap/dist/css/bootstrap.min.css"
      type="text/css">
<script data-main="js/app" src="lib/requirejs/require.js"></script>
</head>
<body>
<!--[if lt IE 7]>
  <p class="chromeframe">
    You are using an <strong>outdated</strong> browser. Please
    <a href="http://browsehappy.com/">upgrade your browser</a> or
    <a href="http://www.google.com/chromeframe/?redirect=true">
      activate Google Chrome Frame
    </a> to improve your experience.
  </p>
<![endif]-->
<!-- Minesweeper App -->
<div class="container">
  <table class="ms-root table table-bordered"></table>
</div>
<!-- Template -->
<script id="dashboard-template" type="text/template">
<tr>
  <th colspan="99">
    <div class="counter"></div>
    <div class="btn-group">
      <button type="button"
              class="btn btn-default navbar-btn smiley"></button>
      <button type="button"
              class="btn btn-default navbar-btn dropdown-toggle"
              data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#" data-level="0" class="level">Beginner</a></li>
        <li><a href="#" data-level="1" class="level">Intermediate</a></li>
        <li><a href="#" data-level="2" class="level">Expert</a></li>
      </ul>
    </div>
    <div class="timer"></div>
  </th>
</tr>
</script>
<script id="board-template" type="text/template">
<% for (var i = 0; i < rows; ++i) { %>
  <tr>
    <% for (var j = 0; j < cols; ++j) { %>
      <td data-row="<%= i %>" data-col="<%= j %>"></td>
    <% } %>
  </tr>
<% } %>
</script>
</body>
</html>
